In [ ]:
#Count Values in Pandas Dataframe
#we are going to count values in Pandas dataframe. First, we will create a data frame, and then we will count the values of different attributes.
#Syntax: DataFrame.count(axis=0, level=None, numeric_only=False)

In [59]:
# importing libraries
import numpy as np
import pandas as pd
NaN = np.nan
dataframe = pd.DataFrame({'Name': ['Shobhit', 'Vaibhav',
                                   'Vimal', 'Sourabh',
                                   'Rahul', 'Shobhit'],
                          'Physics': [11, 12, 13, 14, NaN, 11],
                          'Chemistry': [10, 14, NaN, 18, 20, 10],
                          'Math': [13, 10, 15, NaN, NaN, 13]})
display(dataframe)

      Name  Physics  Chemistry  Math
0  Shobhit     11.0       10.0  13.0
1  Vaibhav     12.0       14.0  10.0
2    Vimal     13.0        NaN  15.0
3  Sourabh     14.0       18.0   NaN
4    Rahul      NaN       20.0   NaN
5  Shobhit     11.0       10.0  13.0

In [60]:
# using dataframe.count() 
# to count all values
dataframe.count()

Name         6
Physics      5
Chemistry    5
Math         4
dtype: int64

In [61]:
# we can pass either axis=1 or
# axos='columns' to count with respect to row
print(dataframe.count(axis = 1)) 
print(dataframe.count(axis = 'columns'))

0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64
0    4
1    4
2    3
3    3
4    2
5    4
dtype: int64

In [62]:
#we want to count null values in our dataframe.
print(dataframe.isnull().sum())
print("Total Null values count: ",
      dataframe.isnull().sum().sum())

Name         0
Physics      1
Chemistry    1
Math         2
dtype: int64
Total Null values count:  4

In [ ]:
#dataframe Pandas.apply()
#Pandas.apply allow the users to pass a function and apply it on every single value of the Pandas series.

In [63]:
import pandas as pd
df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})
def square(x):
    return x * x
df1 = df.apply(square)
print(df)
print(df1)

   A   B
0  1  10
1  2  20
   A    B
0  1  100
1  4  400

In [64]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})
df1 = df.apply(np.sum, axis=0)
print(df1)
df1 = df.apply(np.sum, axis=1)
print(df1)

A     3
B    30
dtype: int64
0    11
1    22
dtype: int64

In [65]:
#DataFrame apply() with arguments
import pandas as pd
def sum(x, y, z):
    return x + y + z
df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})
df1 = df.apply(sum, args=(1, 2))
print(df1)

   A   B
0  4  13
1  5  23

In [67]:
#Return the sum of each row by applying a function:
import pandas as pd
def calc_sum(x):
   return x.sum()
data = {
  "x": [50, 40, 30],
  "y": [300, 1112, 42]
}
df = pd.DataFrame(data)
x = df.apply(calc_sum)
print(x)

x     120
y    1454
dtype: int64

In [69]:
#Get unique values from a column in Pandas DataFrame
#The unique() function removes all duplicate values on a column and returns a single value for multiple same values. 
# Import pandas package
import pandas as pd
# create a dictionary with five fields each
data = {
    'A': ['A1', 'A2', 'A3', 'A4', 'A5'],
    'B': ['B1', 'B2', 'B3', 'B4', 'B4'],
    'C': ['C1', 'C2', 'C3', 'C3', 'C3'],
    'D': ['D1', 'D2', 'D2', 'D2', 'D2'],
    'E': ['E1', 'E1', 'E1', 'E1', 'E1']}
# Convert the dictionary into DataFrame
df = pd.DataFrame(data)

In [70]:
# Import pandas package
import pandas as pd
# Convert the dictionary into DataFrame
df = pd.DataFrame(data) 
# Get the unique values of 'B' column
df.B.unique()

array(['B1', 'B2', 'B3', 'B4'], dtype=object)

In [71]:
#Get Number of Unique Values in a Column
# Import pandas package
import pandas as pd 
# Convert the dictionary into DataFrame
df = pd.DataFrame(data) 
# Get number of unique values in column 'C'
df.C.nunique(dropna=True)

3

In [73]:
import pandas as pd
s = pd.Series([1, 1, 2, 3, 3])
unique_elements = s.unique()
print(unique_elements)

[1 2 3]

In [74]:
import pandas as pd
s = pd.Series([True, False, True, True, False])
unique_elements = s.unique()
print(unique_elements)

[ True False]

In [75]:
import pandas as pd
s = pd.Series(['apple', 'banana', 'apple', 'orange', 'banana', 'banana'])
unique_counts = s.unique().size
print(unique_counts)

3

In [76]:
#Handling NaN Values
import pandas as pd
s = pd.Series([1, 1, 2, None, 2, None])
unique_elements = s.unique()
print(unique_elements)

[ 1.  2. nan]

In [77]:
#Pandas DataFrame nunique() Method
#Return the number of unique values for each column:
#Pandas dataframe.nunique() function returns a Series with a number of distinct observations over the requested axis.
import pandas as pd
data = [[10, 20, 0], [10, 10, 10], [10, 20, 30]]
df = pd.DataFrame(data)
print(df.nunique())

0    1
1    2
2    3
dtype: int64

In [78]:
# importing pandas as pd
import pandas as pd
df = pd.DataFrame({"A":[14, 4, 5, 4, 1],
                "B":[5, 2, 54, 3, 2],
                "C":[20, 20, 7, 3, 8],
                    "D":[14, 3, 6, 2, 6]})
# find unique values
df.nunique(axis=1)

0    3
1    4
2    4
3    3
4    4
dtype: int64

In [79]:
#Pandas DataFrame describe() Method
#Return a statistically description of the data in the DataFrame:
#Pandas describe() is used to view some basic statistical details like percentile, mean, std, etc. of a data frame or a series of numeric values
import pandas as pd
data = [[10, 18, 11], [13, 15, 8], [9, 20, 3]]
df = pd.DataFrame(data)
print(df.describe())

               0          1          2
count   3.000000   3.000000   3.000000
mean   10.666667  17.666667   7.333333
std     2.081666   2.516611   4.041452
min     9.000000  15.000000   3.000000
25%     9.500000  16.500000   5.500000
50%    10.000000  18.000000   8.000000
75%    11.500000  19.000000   9.500000
max    13.000000  20.000000  11.000000

In [82]:
import pandas as pd  
import numpy as np  
a1 = pd.Series([1, 2, 3])  
a1.describe()

count    3.0
mean     2.0
std      1.0
min      1.0
25%      1.5
50%      2.0
75%      2.5
max      3.0
dtype: float64