In [ ]:
#Pandas Series:A Pandas Series is like a column in a table.
#It is a one-dimensional array holding data of any type.

In [2]:
#Create a simple Pandas Series from a list:
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)

0    1
1    7
2    2
dtype: int64

In [3]:
#Labels: If nothing else is specified, the values are labeled with their index number. 
import pandas as pd
a = [1, 7, 2]
myvar = pd.Series(a)
print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [4]:
#Create your own labels:
import pandas as pd
a = [2, 6, 9]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)

x    2
y    6
z    9
dtype: int64

In [5]:
#Key/Value Objects as Series
#You can also use a key/value object, like a dictionary, when creating a Series.
#Create a simple Pandas Series from a dictionary:
import pandas as pd
calories = {"day1": 420, "day2": 380, "day3": 390}
myvar = pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [6]:
#Creating an empty Series: Series() function of Pandas is used to create a series. A basic series, which can be created is an Empty Series. 
# import pandas as pd
import pandas as pd
# Creating empty series
ser = pd.Series()
print(ser)

Series([], dtype: object)

In [7]:
#Creating a series from array: In order to create a series from NumPy array, we have to import numpy module and have to use array() function. 
# import pandas as pd
import pandas as pd
# import numpy as np
import numpy as np
# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [8]:
#Creating a series from array with an index
# import pandas as pd
import pandas as pd
# import numpy as np
import numpy as np
# simple array
data = np.array(['g', 'e', 'e', 'k', 's']) 
# providing an index
ser = pd.Series(data, index=[10, 11, 12, 13, 14])
print(ser)

10    g
11    e
12    e
13    k
14    s
dtype: object

In [9]:
#Creating a series from Lists
import pandas as pd
# a simple list
list = ['g', 'e', 'e', 'k', 's']
# create series form a list
ser = pd.Series(list)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [10]:
#Creating a series from Dictionary:
import pandas as pd
# a simple dictionary
dict = {'Geeks': 10,
        'for': 20,
        'geeks': 30}
# create series from dictionary
ser = pd.Series(dict)
print(ser)

Geeks    10
for      20
geeks    30
dtype: int64

In [11]:
#Creating a series from Scalar value:
import pandas as pd
import numpy as np 
# giving a scalar value with index
ser = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
print(ser)

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [12]:
#Creating a Series using range function:
import pandas as pd
ser=pd.Series(range(10))
print(ser)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [13]:
#Creating a Series using for loop and list comprehension:
import pandas as pd
ser=pd.Series(range(1,20,3), index=[x for x in 'abcdefg'])
print(ser)

a     1
b     4
c     7
d    10
e    13
f    16
g    19
dtype: int64

In [14]:
#Creating a Series using mathematical expressions:
import pandas as pd
import numpy as np
ser=np.arange(10,15)
serobj=pd.Series(data=ser*5,index=ser)
print(serobj)

10    50
11    55
12    60
13    65
14    70
dtype: int32

In [19]:
#Basic Operations on Series
#Arithmetic Operations
import pandas as pd
data1 = [10, 20, 30, 40, 50]
data2 = [1, 2, 3, 4, 5]
series1 = pd.Series(data1)
series2 = pd.Series(data2)
sum_series = series1 + series2
print(sum_series)
product_series = series1 * series2
print(product_series)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0     10
1     40
2     90
3    160
4    250
dtype: int64

In [20]:
# apply element-wise operations using built-in functions
import pandas as pd
import numpy as np
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
squared_series = np.square(series)
sqrt_series = np.sqrt(series)
print(squared_series)
print(sqrt_series)

0     100
1     400
2     900
3    1600
4    2500
dtype: int64
0    3.162278
1    4.472136
2    5.477226
3    6.324555
4    7.071068
dtype: float64

In [24]:
#Indexing/Selection: Accessing data from series with position
import pandas as pd
s = pd.Series([1, 3, 5, 6, 8])
print(s)

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [25]:
#Indexing/Selection: Accessing data from series with position
import pandas as pd
print(s[0])
print(s[1:3])
print(s[[0, 2, 4]])

1
1    3
2    5
dtype: int64
0    1
2    5
4    8
dtype: int64

In [26]:
## Assigning a new value at index 0
s[0] = 999
print(s)

0    999
1      3
2      5
3      6
4      8
dtype: int64

In [27]:
# Deleting an item at index 0
s = s.drop([0])
print(s)

1    3
2    5
3    6
4    8
dtype: int64

In [28]:
# Adding a constant to a series
s = s + 2
print(s)

1     5
2     7
3     8
4    10
dtype: int64

In [29]:
# Multiplying a series with a constant
s = s * 3
print(s)

1    15
2    21
3    24
4    30
dtype: int64

In [30]:
#Statistical Operations: You can perform various statistical operations on Series like count, sum, mean, median, mode, min, max, standard deviation, variance, etc.
# Sum of all values in series
print(s.sum())

90

In [31]:
## Mean of all values in series
print(s.mean())

22.5

In [32]:
#Conversion: Converting Series into other data structures.
# Converting series to a list
list_s = s.tolist()
print(list_s)

[15, 21, 24, 30]

In [33]:
# Converting series to a dictionary
dict_s = s.to_dict()
print(dict_s)

{1: 15, 2: 21, 3: 24, 4: 30}

In [34]:
#Sorting: You can sort a series by its index or its values.
s = s.sort_index()
print(s)

1    15
2    21
3    24
4    30
dtype: int64

In [35]:
# Sorting by values
s = s.sort_values()
print(s)

1    15
2    21
3    24
4    30
dtype: int64

In [36]:
# Handling Missing Data: You can detect and/or eliminate missing data.
print(s.isnull())

1    False
2    False
3    False
4    False
dtype: bool

In [37]:
#Applying functions: You can apply functions to a series
s = s.apply(lambda x: x**2)
print(s)

1    225
2    441
3    576
4    900
dtype: int64