In [85]:
# import pandas
import pandas as pd
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
            ('Saumya', 32, 'Delhi', 25000),
            ('Aaditya', 25, 'Mumbai', 40000),
            ('Saumya', 32, 'Delhi', 35000),
            ('Saumya', 32, 'Delhi', 30000),
            ('Saumya', 32, 'Mumbai', 20000),
            ('Aaditya', 40, 'Dehradun', 24000),
            ('Seema', 32, 'Delhi', 70000)
            ]
# Create a DataFrame object from list
df = pd.DataFrame(employees,
                columns =['Name', 'Age',
                        'City', 'Salary'])
# Show the dataframe
df

      Name  Age      City  Salary
0    Stuti   28  Varanasi   20000
1   Saumya   32     Delhi   25000
2  Aaditya   25    Mumbai   40000
3   Saumya   32     Delhi   35000
4   Saumya   32     Delhi   30000
5   Saumya   32    Mumbai   20000
6  Aaditya   40  Dehradun   24000
7    Seema   32     Delhi   70000

In [86]:
# Set 'Name' column as index
# on a Dataframe
df.set_index("Name", inplace = True) 
# Using the operator .loc[]
# to select single row
result = df.loc["Stuti"] 
# Show the dataframe
result

Age             28
City      Varanasi
Salary       20000
Name: Stuti, dtype: object

In [88]:
#Select Rows and Columns in Pandas DataFrame using iloc
result = df.iloc[2]
result

Age           25
City      Mumbai
Salary     40000
Name: Aaditya, dtype: object

In [89]:
# Using the operator .iloc[]
# to select multiple rows
result = df.iloc[[2, 3, 5]] 
# Show the dataframe
result

         Age    City  Salary
Name
Aaditya   25  Mumbai   40000
Saumya    32   Delhi   35000
Saumya    32  Mumbai   20000

In [90]:
result = df.iloc[[2, 3, 5],
                [0, 1]]
result

         Age    City
Name
Aaditya   25  Mumbai
Saumya    32   Delhi
Saumya    32  Mumbai

In [91]:
#conditional selection for column add
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'column1': [5, 12, 8, 15],
    'column2': [3, 6, 10, 7]
})
# Add 'result' column based on condition
df['result'] = np.where(df['column1'] > 10, df['column1'] + df['column2'], df['column1'])
print(df)

   column1  column2  result
0        5        3       5
1       12        6      18
2        8       10       8
3       15        7      22

In [98]:
#conditional selection for delete column
import pandas as pd
mydictionary = {'names': ['Somu', 'Kiku', 'Amol', 'Lini'],
	'physics': [68, 74, 77, 78],
	'chemistry': [84, 56, 73, 69],
	'algebra': [78, 88, 82, 87]}
# Create dataframe
df_marks = pd.DataFrame(mydictionary)
print('Original DataFrame\n--------------')
print(df_marks)
# Delete a column
del df_marks['chemistry']
print('\n\nDataFrame after deleting column\n--------------')
print(df_marks)

Original DataFrame
--------------
  names  physics  chemistry  algebra
0  Somu       68         84       78
1  Kiku       74         56       88
2  Amol       77         73       82
3  Lini       78         69       87


DataFrame after deleting column
--------------
  names  physics  algebra
0  Somu       68       78
1  Kiku       74       88
2  Amol       77       82
3  Lini       78       87

In [100]:
#conditional selection ubdate index
import pandas as pd
# Create a sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8],
        'C': [9, 10, 11, 12]}
df = pd.DataFrame(data)
# Display the original DataFrame
print("Original DataFrame:")
print(df)
# Condition for updating the index
condition = df['A'] > 2
# Update the index based on the condition
df.set_index(condition, inplace=True)
# Display the modified DataFrame with updated index
print("\nModified DataFrame with Updated Index:")
print(df)

Original DataFrame:
   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

Modified DataFrame with Updated Index:
       A  B   C
A
False  1  5   9
False  2  6  10
True   3  7  11
True   4  8  12

In [101]:
##conditional selection remove index
import pandas as pd
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
index = ['X', 'Y', 'Z', 'W']
df = pd.DataFrame(data, index=index)
# Display the original DataFrame with index
print("Original DataFrame with Index:")
print(df)
# Condition for removing the index
condition = df['A'] > 2
# Reset the index based on the condition
if condition.any():
    df.reset_index(drop=True, inplace=True)
# Display the modified DataFrame without index
print("\nModified DataFrame without Index:")
print(df)

Original DataFrame with Index:
   A  B
X  1  5
Y  2  6
Z  3  7
W  4  8

Modified DataFrame without Index:
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [102]:
#operation + between two columns
import pandas as pd
# Create a sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)
# Display the original DataFrame
print("Original DataFrame:")
print(df)
# Perform addition between columns A and B
df['C'] = df['A'] + df['B']
# Display the modified DataFrame
print("\nModified DataFrame with Addition:")
print(df)

Original DataFrame:
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Modified DataFrame with Addition:
   A  B   C
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [103]:
#operation - between two columns 
import pandas as pd
# Create a sample DataFrame
data = {'A': [50, 60, 70, 80],
        'B': [10, 20, 30, 40]}
df = pd.DataFrame(data)
# Display the original DataFrame
print("Original DataFrame:")
print(df)
# Perform addition between columns A and B
df['C'] = df['A'] - df['B']
# Display the modified DataFrame
print("\nModified DataFrame with Addition:")
print(df)

Original DataFrame:
    A   B
0  50  10
1  60  20
2  70  30
3  80  40

Modified DataFrame with Addition:
    A   B   C
0  50  10  40
1  60  20  40
2  70  30  40
3  80  40  40

In [104]:
#operation * between two columns
import pandas as pd
# Create a sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': [5, 6, 7, 8]}
df = pd.DataFrame(data)
# Display the original DataFrame
print("Original DataFrame:")
print(df)
# Perform multiplication between columns A and B
df['C'] = df['A'] * df['B']
# Display the modified DataFrame
print("\nModified DataFrame with Multiplication:")
print(df)

Original DataFrame:
   A  B
0  1  5
1  2  6
2  3  7
3  4  8

Modified DataFrame with Multiplication:
   A  B   C
0  1  5   5
1  2  6  12
2  3  7  21
3  4  8  32

In [105]:
#operation / between two columns
import pandas as pd
data = {
    'Column1': [10, 20, 30, 40, 50],
    'Column2': [2, 4, 5, 10, 25]
}
# Create DataFrame
df = pd.DataFrame(data)
# Perform element-wise division between 'Column1' and 'Column2'
df['Result'] = df['Column1'] / df['Column2']
# Display the DataFrame
print(df)

   Column1  Column2  Result
0       10        2     5.0
1       20        4     5.0
2       30        5     6.0
3       40       10     4.0
4       50       25     2.0